<app-nav-sidenav>
  
</app-nav-sidenav>
  
  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      
    </nav>
    <!-- NAVBAR -->
  
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Add Program/Semester</h1>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  
  <section id="content">

    <div class="container">
    <div class="input-container">
      <label for="program">Program:</label>
      <select>
        <option value="option1">CSE</option>
        <option value="option2">SWE</option>
        <option value="option3">EEE</option>
        <option value="option4">MPE</option>
        <option value="option5">IPE</option>
        <option value="option6">BTM</option>
        <option value="option7">CEE</option>
        <option value="option8">TVE</option>
      </select>
      <button id="addButton">Add</button>
    </div>

    <div class="input-container">
      <label for="semester">Semester :</label>
      <select>
        <option value="option1">1</option>
        <option value="option2">2</option>
        <option value="option3">3</option>
        <option value="option1">4</option>
        <option value="option2">5</option>
        <option value="option3">6</option>
        <option value="option1">7</option>
        <option value="option2">8</option>
      </select>
      <button id="addButton">Add</button>
    </div>
  </div>

  
  </section>
  <!-- CONTENT -->
