<app-nav-sidenav>
  
</app-nav-sidenav>
  
  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      
    </nav>
    <!-- NAVBAR -->
  
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Add Exam Schedule</h1>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>

<section id="content">

 <div class="container">
    <div class="input-container">
      
        <label for="program">CSE4553:</label>
        <input type="date">
        <input type="date">
        <input type="date">
        <button id="confirmButton">Confirm</button>
      
    </div>
</div>
<div class="container">
    <div class="input-container">
        
            <label for="program">CSE4504:</label>
            <input type="date">
            <input type="date">
            <input type="date">
            <button id="confirmButton">Confirm</button>
        
    </div>
</div>
<div class="container">
    <div class="input-container">
        <label for="program">CSE4511:</label>
        <input type="date">
        <input type="date">
        <input type="date">
        <button id="confirmButton">Confirm</button>
    </div>
</div>
<div class="container">
    <div class="input-container">
        <label for="program">CSE4593:</label>
        <input type="date">
        <input type="date">
        <input type="date">
        <button id="confirmButton">Confirm</button>
    </div>
</div>
<div class="container">
    <div class="input-container">
        <label for="program">CSE4583:</label>
        <input type="date">
        <input type="date">
        <input type="date">
        <button id="confirmButton">Confirm</button>
    </div>
</div>
<div class="container">
    <div class="input-container">
        <label for="program">CSE4523:</label>
        <input type="date">
        <input type="date">
        <input type="date">
        <button id="confirmButton">Confirm</button>
    </div>
 </div>

  
</section>
  <!-- CONTENT -->
