<!-- SIDEBAR -->
<section id="sidebar" >
  <a href="#" class="brand">
    <span class="text">Ex-scheduler</span>
  </a>
  <ul class="side-menu top">
    <li>
      <a href="#">
        
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li class="active">
      <a routerLink="/add-program-semester">
        
        <span class="text">Add ProgramSemester</span>
      </a>
    </li>
    <li>
      <a routerLink="/add-exam-schedule">
        
        <span class="text">Add ExamSchedule</span>
      </a>
    </li>
    <li>
      <a routerLink="/add-course">
        
        <span class="text">Add Course</span>
      </a>
    </li>
    <li>
      <a routerLink="/add-link">
        
        <span class="text">Add Link</span>
      </a>
    </li>
    <li>
      <a routerLink="/generate-routine">
        
        <span class="text">Generate Routine</span>
      </a>
    </li>
    <li>
      <a routerLink="/fetch-routine">
        
        <span class="text">Fetch Routine</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a href="#" class="logout">
        
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->
  
  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      
    </nav>
    <!-- NAVBAR -->
  
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Add Program/Semester</h1>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  
  <section id="content">

    <div class="container">
    <div class="input-container">
      <label for="program">Program:</label>
      <select>
        <option value="option1">CSE</option>
        <option value="option2">SWE</option>
        <option value="option3">EEE</option>
        <option value="option4">MPE</option>
        <option value="option5">IPE</option>
        <option value="option6">BTM</option>
        <option value="option7">CEE</option>
        <option value="option8">TVE</option>
      </select>
      <button id="addButton">Add</button>
    </div>

    <div class="input-container">
      <label for="semester">Semester :</label>
      <select>
        <option value="option1">1</option>
        <option value="option2">2</option>
        <option value="option3">3</option>
        <option value="option1">4</option>
        <option value="option2">5</option>
        <option value="option3">6</option>
        <option value="option1">7</option>
        <option value="option2">8</option>
      </select>
      <button id="addButton">Add</button>
    </div>
  </div>

  
  </section>
  <!-- CONTENT -->
