<!-- views/layout.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/add-course.css">
  <link rel="stylesheet" href="/css/add-exam-schedule.css">
  <link rel="stylesheet" href="/css/add-link.css">
  <link rel="stylesheet" href="/css/add-program-semester.css">
  <link rel="stylesheet" href="/css/fetch-routine.css">
  <link rel="stylesheet" href="/css/generate-routine.css">
  <link rel="stylesheet" href="/css/admin-dashboard.css">
  <link rel="stylesheet" href="/css/nav-sidenav.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Include additional stylesheets if needed -->
  <title>Your Page Title</title>
</head>

<body>

  <!-- Include the sidebar partial -->
  <%-include('../partials/nav-sidenav') %> 

 <!-- CONTENT -->
 <section id="content">
    <!-- NAVBAR -->
    <nav>
      
    </nav>
    <!-- NAVBAR -->
  
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Add Department</h1>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  
  <section id="content">

    <div class="container">
      <div class="input-container">
        <input type="text" id="courseInput1" placeholder="Enter first Department Name">
        <button id="LinkButton">Submit</button>
      </div>
     </div>

  
  </section>
  <!-- CONTENT -->

</body>

</html>
