<app-nav-sidenav>
  
</app-nav-sidenav>

  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      
    </nav>
    <!-- NAVBAR -->
  
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Generate Routine</h1>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  
  <section id="content">

    <div class="container">
        <button id="generateButton">Generate</button>
    </div>
  
  </section>
  <!-- CONTENT -->
